.services-container {
    padding: 6rem 5%;
    text-align: center;
    background-color: #0F172A; /* A slightly lighter dark color */
}

.section-header {
    margin-bottom: 4rem;
}

.section-header h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.section-header p {
    font-size: 1.2rem;
    color: var(--grey);
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    text-align: left;
}

.service-item {
    background-color: var(--secondary-color);
    padding: 2.5rem;
    border-radius: 10px;
    border: 1px solid #334155;
}

.service-item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.service-item p {
    color: var(--grey);
}

@media (max-width: 768px) {
    .services-container {
        padding: 4rem 5%;
    }
    .section-header h2 {
        font-size: 2.5rem;
    }
}
